<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <div>
    <h4 class="mb-3 mb-md-0">Welcome to Dashboard</h4>
  </div>
</div>

<div class="row">
  <div class="col-lg-5 col-xl-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Quick Search</h6>
        <div class="form-group">
          <label for="customerAccountSelection">Customer Account:</label>
          <ng-select [items]="customerAccountList"
            id="customerAccountSelection"
            bindLabel="name"
            bindValue="id"
            placeholder="type to search an account"
            [(ngModel)]="searchCustomerAccount">
          </ng-select>
        </div>
        <div class="form-group">
          <label for="customerPersonSelection">Customer Person:</label>
          <ng-select [items]="customerList"
            id="customerPersonSelection"
            bindLabel="name"
            bindValue="id"
            placeholder="type to search a customer"
            [(ngModel)]="searchCustomerPerson">
          </ng-select>
        </div>
        <div class="form-group">
          <label for="propertiesSelection">Properties:</label>
          <ng-select [items]="propertiesList"
            id="propertiesSelection"
            bindLabel="name"
            bindValue="id"
            placeholder="type to search a property"
            [(ngModel)]="searchProperty">
          </ng-select>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-7 col-xl-8 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Financial Performance</h6>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Period</th>
                <th>Collected</th>
                <th>Outstanding</th>
                <th>Projected</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let finPerformance of financialPerformanceList">
                <th>{{finPerformance.period}}</th>
                <td>{{finPerformance.collected | currency}}</td>
                <td>{{finPerformance.outstanding | currency}}</td>
                <td>{{finPerformance.projected | currency}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div> <!-- row -->

<div class="row">
  <div class="col-lg-7 col-xl-8 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Operating Performance</h6>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Location</th>
                <th>Occ</th>
                <th>Vac</th>
                <th>Rent Roll</th>
                <th>Potential</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let opPerformance of operatingPerformanceList">
                <th>{{opPerformance.location}}</th>
                <td>{{opPerformance.occupied}}</td>
                <td>{{opPerformance.vaccated}}</td>
                <td>{{opPerformance.rentRoll | currency}}</td>
                <td>{{opPerformance.potential | currency}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-5 col-xl-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Sales Leads</h6>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let salesLead of salesLeadList">
                <td>{{salesLead.name}}</td>
                <td>{{salesLead.email}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div> <!-- row -->
